<div class="container">
<p id="notice"><%= notice %></p>
  <nav>
    <div class="brand-logo center nav-wrapper">

  <strong>Lista</strong>
  <%= @listum.nome %>

    
    </div>
  </nav>
  <br>
  <br>
  <br>
<% items = @listum.items %>
<% if !items.any? %>
  <%= "<p>-Lista Vazia-</p>".html_safe %>
<% else %>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Preco</th>
      <th>Quantidade</th>
      <th>Preço Total</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
  <% items.each do |item| %>
    <tr>
      <td><%= item.nome %></td>
        <td><%= item.preco %></td>
        <td><%= item.quantidade %></td>
        <td>R$ <%= item.total %></td>

        <td><%= link_to 'Remover', listum_item_path(@lista, item), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<table>
  <tbody>
  <td><b>Valor final</b></td>
  <td class="right-align">R$ <%= @listum.subtotal %></td>
  </tbody>
</table>
<% end %>
  <p class="add-item-button"><%= link_to 'Adicionar Item', new_listum_item_path(@lista) %></p>

<%= link_to 'Editar Lista', edit_listum_path(@listum) %> |
<%= link_to 'Voltar', lista_path %>
</div>